/* DEBUT TITRE JAVASCRIPT */
.titleStyle {
  min-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(13, 48, 77);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: left;
}
.blinking-cursor {
  pointer-events: none;
  user-select: none;
  animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
  visibility: hidden;
  }
}
/*FIN TITRE JAVASCRIPT */

/* DEBUT PARALLAX 1 */
.parallax {
  /* The image used{ */
  background-image: url("mairie-antheuil-parallax.jpg");

  /* Set a specific height */
  height: 300px;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
}  
/* FIN PARALLAX 1 */

/* DEBUT PARALLAX 2 */
.parallax2 {
  /* The image used */
  background-image: url("landscape-193720_960_720.jpg");

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
} 
/* FIN PARALLAX 2 */

/* CAROUSEL */
.carousel-item{
  height : 250px;
}
.carousel-inner{
  margin: auto;
  text-align: center;
}
/* FIN CAROUSEL */

/* DEBUT CALENDAR */
#calendar{
  text-align: center;
  margin-bottom: 35px;
}

table, th, thead, tbody, td {
  border: solid 1px white;
}
table {
  width: 80%;
  text-align: right;
  margin: auto;
}
td {
  width: 10%;
  height: 100px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(91, 143, 153);
  color: white;
  text-shadow: 1px 1px rgb(45, 67, 85);
}
th {
  background-color: rgb(28, 42, 53);
  height: 75px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px rgb(126, 126, 126);
  text-align: center;
  
}
.list
{
text-align: center;
}
.blank {
  background-color: rgb(158, 198, 218);
  background-image: url("blason.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* FIN CALENDAR */


.presentationSentence {
  margin-top: 80px;
  font-size: 17px;
  text-align: justify;
}
#sitePresentation {
    background-color: rgb(177, 184, 185);
}
#cityNews {
  text-align: center;
  background-color: rgb(177, 184, 185);
  color: red;
}
#cityNews h3 {
  color: red ;
}
.card-text {
  color:black
}
#cityPresentation {
  background-color:white ;
}
.mayorText{
  font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
font-style: italic;
text-align: justify;
}
.mayorTextAlign{
  font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
  text-align: right;
}
h5 {
  color: black;
}
.navbar-brand {
  font-size: 22px;
  font-weight:500;
}
#footer {
  background-color: rgb(13, 48, 77);
  color: white;
  text-align: center;
}
.logo {
  border-radius: 10px;
}
#titlePresentation {
  margin-top: 80px;
}
.backgroundColor {
  background-color: rgb(56, 94, 102);
  border-width: 15px black;
  color: white;
}
.backgroundColor2 {
  background-color: rgb(125, 170, 179);
  border-width: 15px black;
  color: black;
}
.presentation{
  text-align: center;
  font-weight: bold;
}
.sentenceCouncil{
  text-align: justify;
  font-style: italic;
}
.historyText{
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
.borderImage{
  border: solid 1px black;
}